<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.njupt.allgo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="cn.edu.njupt.allgo"></instrumentation>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="cn.edu.njupt.allgo.application.MyDeclare"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner"/>
         <activity
            android:name="cn.edu.njupt.allgo.activity.FirstACTIVIY"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTask" >
	      <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.WelcomeACTIVITY"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:label="欢迎" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.RegisterACTIVITY"
            android:label="注册"
            android:theme="@style/AppTheme.DialogWhenLarge"
             >
            
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.HomeACTIVITY"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask" >
            
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.AddEventACTIVITY"
            android:theme="@style/AppTheme.DialogWhenLarge"
            android:label="组织活动" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.FilterACTIVITY"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:label="活动筛选" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.FilterEventACTIVITY"
            android:label="活动筛选" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.LogOffACTIVITY"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:label="正在下线" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.LoadEventACTIVITY"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:label="载入活动中" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.EventPageACTIVITY"
            android:label="活动主页" >
        </activity>

        <activity
            android:name="cn.edu.njupt.allgo.activity.UnreadACTIVITY"
            android:label="我的消息" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.MyEventACTIVITY"
            android:label="我的活动" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.IntroACTIVITY"
            android:icon="@drawable/ic_launcher_bar"
            android:theme="@style/AppTheme.TranslucentActionBar"
            android:label="我的主页" >
        </activity>
        
        <activity
            android:name="cn.edu.njupt.allgo.activity.SettingACTIVITY"
            android:label="设置" >
        </activity>
        
        <service android:name="cn.edu.njupt.allgo.service.PullService"></service>
        
        <activity 
            android:name="cn.edu.njupt.allgo.activity.AboutACTIVITY"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            ></activity>
        
    </application>

</manifest>
